#header-full{
padding-top: 15px;
	background-color: rgba(255,0,0,0.15);
}

html,body{
	height: 100%;
}

body{
	margin: 0px;
	padding: 0px;
	position: relative;
}

body #wrap{
     width: 100%;
     position: fixed;
     height:auto !important; /*IE6対策*/
     height: 100%; /*IE6対策*/
     min-height: 100%;
}

#contents{
     padding-bottom:140px; /*フッターの高さと同じ*/
}

#footer-full{
	background: #ffffff;
	height: 10px;
	position: absolute;
	bottom: 0;
}