/*header for PC*/
#header_normal {
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    width: 100%;
    background-color: rgba(0,100,0, 0.60);
    /*background-size: 100% 100%;*/
    top: 0;
    z-index: 5;
    /*background-image: url(../images/randomtile.png);
    background-repeat: repeat;*/
}

#navbar {
    width: 700px;
    height: 120px;
    margin: 0 auto;
}

#eeic_logo {
    width: 100px;
    height: 120px;
    float: left;
}

#panel {
    width: 506px;
    height: 120px;
    float: left;
    text-align: center;
    max-width: 100%;
}

#banner {
    width: 548px;
    height: 76px;
}

#buttons {
    padding-top: 5px;
    width: 548px;
    height: 35px;
}

.nonactive {
    background-color: rgba(10,10,10,0.5);
}

.active {
    background-color: rgba(0,120,0, 0.5);
}

/*header for mobile*/
#header_mobile {
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    width: 100%;
    background-color: rgba(0,100,0, 0.60);
    /*background-size: 100% 100%;*/
    top: 0;
    text-align: center;
    z-index: 5;
}

#banner_mobile img {
    max-width: 90%;
}

.nonactive-mobile-left {
    background-color: rgba(0,0,0,0.2);
    border: 3px #00ff00 solid;
    width: 41%;
    float: left;
    margin: 5px 10px 5px 15px;
}

.nonactive-mobile-right {
    background-color: rgba(0,0,0,0.2);
    border: 3px #00ff00 solid;
    width: 41%;
    float: right;
    margin: 5px 15px 5px 10px;
}

.active-mobile-left {
    background-color: rgba(0,120,0, 0.5);
    border: 3px #00ff00 solid;
    width: 41%;
    float: left;
    margin: 5px 10px 5px 15px;
}

.active-mobile-right {
    background-color: rgba(0,120,0, 0.5);
    border: 3px #00ff00 solid;
    width: 41%;
    float: right;
    margin: 5px 15px 5px 10px;
}

    .nonactive-mobile-left img, .nonactive-mobile-right img, .active-mobile-left img, .active-mobile-right img {
    }
/*footer*/
#footer_normal {
    background-color: rgba(0,100,0, 0.60);
    color: rgb(0,255,0);
    width: 100%;
    height: 22px;
    bottom: 0;
    text-align: right;
    position: fixed;
    z-index: 5;
}

#footer_mobile {
    background-color: rgba(0,100,0, 0.60);
    color: rgb(0,255,0);
    width: 100%;
    vertical-align: middle;
    margin-bottom: 0;
    text-align: center;
    position: absolute;
    font-size: 100%;
    z-index: 5;
}


/*default settings*/
body #wrapper { /*for canvas*/
    width: 100%;
    position: fixed;
    height: 100%;
}

*:focus {
    outline: none;
}


#contents {
    min-height: 100%;
}


/*index settings*/
#mayfes-date {
    background-size: 100% 100%;
    padding: 5px;
    margin: 0px 10px 5px 0px;
}

.responsive-image {
    max-width: 100%;
}

.responsive-map {
    height: auto;
    width: 400px;
    max-width: 100%;
}

.border-box {
    background-color: rgba(20,20,20,0.85);
    color: rgb(220,220,220);
    border-style: solid;
    border-color: rgba(50,50,100,0.6);
}

.top-content {
    background-size: 100% 100%;
    padding: 0px;
    top: 0;
    margin: 0px 0px 5px 0px;
}

    .top-content img {
        width: 100%;
    }

.vice-top {
    background-size: 100% 100%;
    margin: 5px 0px 5px 0px;
    padding: 5px;
}

p.resizeimage img {
    width: 100%;
}

.vice-top ul {
    display: block;
    padding-left: 30px;
}

.vice-top li {
    display: inline-block;
    font-size: 13px;
    width: 190px;
}

p.cooperative {
    margin-left: 30px;
}

a.cooperative {
    margin-left: 30px;
}

.info {
    padding: 0 5% 3% 5%;
    font-weight: bold;
}

.normal {
    padding: 0 5% 0 5%;
}

#contents {
    padding-bottom: 32px;
}

#facebook {
    overflow: hidden;
    width: 100%;
    background-color: rgba(230,230,230,0.9);
}

#past-web {
    margin: 0px 0px 10px 10px;
    background-size: 100% 100%;
    padding: 5px;
    color: rgb(220,220,220);
}

#past-web-banner {
    background-color: rgba(255,255,255,0.9);
    padding: 5px 0px 5px 0px;
}

.mini-title {
    padding: 15px 0px 10px 0px;
}

/*for access*/
#map {
    background-size: 100% 100%;
    padding: 3% 5% 5% 5%;
    margin: 30px;
}

/*for exhibition*/
#lab {
    background-size: 100% 100%;
    padding: 3% 5% 5% 5%;
    margin: 30px;
}

.lablist {
    padding: 5% 5% 5% 5%;
    margin: 2% 2% 4.5% 2%;
    color: rgba(220,220,220,0.9);
    /*    font-size: 80%;*/
}

    .lablist img {
        width: 100%;
    }
    .lablist p{
        display: none;
        font-size: 10pt;
    }

.gray {
    background-color: rgba(50,50,50,1);
}


.red {
    background-color: rgba(130,40,40,1);
}

.blue {
    background-color: rgba(20,90,110,1);
}

.green {
    background-color: rgba(10,100,20,1);
}

/*clear float*/
.clear {
    clear: both;
}



/*setting for something*/
html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    position: relative;
    background-color: #000;
}
