#header_normal{
	padding-top: 5px;
	padding-bottom: 5px;
	position: fixed;
	width: 100%;
	background-color: rgba(0,100,0, 0.60);
	background-size: 100% 100%;
	top: 0;
}

#header_mobile{
	padding-top: 5px;
	padding-bottom: 5px;
	position: absolute;
	width: 100%;
	background-color: rgba(0,100,0, 0.60);
	background-size: 100% 100%;
	top: 0;
    text-align: center;
}

#navbar{
    width:700px;
    height:120px;
    margin: 0 auto;
}

#banner_mobile img{
    width:90%;
}

#buttons_mobile img{
    width:27%;
}

#eeic_logo{
    width:100px;
    height:120px;
    float:left;
}

#panel{
    width:506px;
    height:120px;
    float:left;
    text-align:center;
}

#banner{
    width:548px;
    height:76px;
}

#buttons{
    padding-top:5px;
    width:548px;
    height:35px;
}

.clear{
    clear:both;
}

html,body{
	height: 100%;
    background-color: black;
}

body{
	margin: 0px;
	padding: 0px;
	position: relative;
}

#wrap{
	width: 100%;
	position: absolute;
	height:auto !important; /*IE6対策*/
	height: 100%; /*IE6対策*/
	min-height: 100%;
}

body #wrapper{
	width: 100%;
	position: fixed;
	height: 100%;
}

#contents{
	padding-bottom:22px; /*フッターの高さと同じ*/
}

#footer{
}

#footer_normal{
    background-color: rgba(0,100,0, 0.60);
    color: rgb(0,255,0);
    width: 100%;
    height: 22px;
    bottom: 0;
    text-align: right;
    position: fixed;
}

#footer_mobile{
    background-color: rgba(0,100,0, 0.60);
    color: rgb(0,255,0);
    width: 100%;
    height: 22px;
    bottom: 0;
    vertical-align: middle;
    text-align: center;
    position: fixed;
    font-size: 75%;
}

*:focus{
    outline:none;
}
